<div class=" w-auto p-3" style="height: 53vh; background-color: #323232; padding-right: 0 !important; padding-left: 0 !important;">
    <div class="container">
        <div>
            <p class="text-center" style="color: white; font-family: judsen;">For any questions or support, please contact us at</p>
        </div>
        <div>
            <form>
                <fieldset>
                  <div>
                    <input type="text" id="emailTextInput" class="form-control mt-3" placeholder="Enter Your Email" style="font-family: JejuGothic; border-radius: 12px;">
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Your Feedback" style="font-family: JejuGothic;  border-radius: 12px;"></textarea>
                  </div>
                    <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-3" style="font-family: JejuGothic; border-radius: 15px;">Submit</button>
                    </div>
                </fieldset>
              </form>
        </div>

    </div>
</div>
