<div>
    <h1 class="main-title title-color">Automate {{title}}</h1>
    <p>This project aims to efficiently allocate IP addresses within a network to minimize conflicts and optimize performance
        The main objective is to develop a tool that automates the IP allocation process, ensuring optimal use of available  IPs 
        and reducing manual errors.
    </p>

    <h2 class="title-color">Key Features</h2>
    <p class="m-l-20"> - Automated IP allocation</p>
    <p class="m-l-20"> - Real-time monitoring and reporting</p>
    <p class="m-l-20"> - User-friendly interface</p>

    <h2 class="title-color">Benefit</h2>
    <p>By using this tool, network administrators can save time, reduce errors, and improve the overall efficiency of network management.</p>
</div>
