<div class="row justify-content-center m-2 ">
    <div class="  col-lg-10   border border-light-subtle  mt-3  rounded shadow-card">
        <h1>Item Table</h1>
        <div class="table-responsive">
            <table class="table">
                <!--Item table head-->
                <thead>
                    <tr>
                       <th scope="col">Department</th>
                        <th scope="col">No of users</th>
                        <th scope="col">Block size</th>
                        <th scope="col">Network address</th> 
                        <th scope="col">First usable ip</th> 
                        <th scope="col">Last usable ip</th> 
                        <th scope="col">Broadcast address</th> 
                    </tr>
                
               
                </thead>
                <!--Item table body-->
                <tbody>
                <tr>
                    <th scope="row">IT</th>
                    <td>30</td>
                    <td>32</td>
                    <td>192.168.100.0</td>
                    <td>192.168.100.1</td>
                    <td>192.168.100.30</td>
                    <td>192.168.100.31</td>

                </tr>
                <tr>
                    <th scope="row">HR</th>
                    <td>20</td>
                    <td>32</td>
                    <td>192.168.100.32</td>
                    <td>192.168.100.33</td>
                    <td>192.168.100.62</td>
                    <td>192.168.100.63</td>
                </tr>
                <tr>
                    <th scope="row">Sales</th>
                    <td>10</td>
                    <td>16</td>
                    <td>192.168.100.64</td>
                    <td>192.168.100.65</td>
                    <td>192.168.100.78</td>
                    <td>192.168.100.79</td>
                </tr>
              
                </tbody>
            </table>
        </div>
    </div>
</div>